<div *ngFor="let item of items; let last = last;" [postRepeat]="last">
  <div>{{item.name}}</div>
  <div><img [(src)]="item.picture"></div>
  <div *ngFor="let friend of item.friends"><input [(ngModel)]="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input [(ngModel)]="item.longitude">
  <input [(ngModel)]="item.latitude">
  <input [(ngModel)]="item.eyeColor">
  <input [(ngModel)]="item.gender">
  <input [(ngModel)]="item.balance">
  <input [(ngModel)]="item.registered">
  <input [(ngModel)]="item.favoriteFruit">
  <input [(ngModel)]="item.greeting">
  <input [(ngModel)]="item.about">
  <input [(ngModel)]="item.phone">
  <input [(ngModel)]="item.email">
  <input [(ngModel)]="item.company">
  <input [(ngModel)]="item.address">
  <input [(ngModel)]="item.guid">
  <input [(ngModel)]="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img [(src)]="item.picture"></div>
  <div *ngFor="let friend of item.friends"><input [(ngModel)]="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input [(ngModel)]="item.longitude">
  <input [(ngModel)]="item.latitude">
  <input [(ngModel)]="item.eyeColor">
  <input [(ngModel)]="item.gender">
  <input [(ngModel)]="item.balance">
  <input [(ngModel)]="item.registered">
  <input [(ngModel)]="item.favoriteFruit">
  <input [(ngModel)]="item.greeting">
  <input [(ngModel)]="item.about">
  <input [(ngModel)]="item.phone">
  <input [(ngModel)]="item.email">
  <input [(ngModel)]="item.company">
  <input [(ngModel)]="item.address">
  <input [(ngModel)]="item.guid">
  <input [(ngModel)]="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img [(src)]="item.picture"></div>
  <div *ngFor="let friend of item.friends"><input [(ngModel)]="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input [(ngModel)]="item.longitude">
  <input [(ngModel)]="item.latitude">
  <input [(ngModel)]="item.eyeColor">
  <input [(ngModel)]="item.gender">
  <input [(ngModel)]="item.balance">
  <input [(ngModel)]="item.registered">
  <input [(ngModel)]="item.favoriteFruit">
  <input [(ngModel)]="item.greeting">
  <input [(ngModel)]="item.about">
  <input [(ngModel)]="item.phone">
  <input [(ngModel)]="item.email">
  <input [(ngModel)]="item.company">
  <input [(ngModel)]="item.address">
  <input [(ngModel)]="item.guid">
  <input [(ngModel)]="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img [(src)]="item.picture"></div>
  <div *ngFor="let friend of item.friends"><input [(ngModel)]="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input [(ngModel)]="item.longitude">
  <input [(ngModel)]="item.latitude">
  <input [(ngModel)]="item.eyeColor">
  <input [(ngModel)]="item.gender">
  <input [(ngModel)]="item.balance">
  <input [(ngModel)]="item.registered">
  <input [(ngModel)]="item.favoriteFruit">
  <input [(ngModel)]="item.greeting">
  <input [(ngModel)]="item.about">
  <input [(ngModel)]="item.phone">
  <input [(ngModel)]="item.email">
  <input [(ngModel)]="item.company">
  <input [(ngModel)]="item.address">
  <input [(ngModel)]="item.guid">
  <input [(ngModel)]="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img [(src)]="item.picture"></div>
  <div *ngFor="let friend of item.friends"><input [(ngModel)]="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input [(ngModel)]="item.longitude">
  <input [(ngModel)]="item.latitude">
  <input [(ngModel)]="item.eyeColor">
  <input [(ngModel)]="item.gender">
  <input [(ngModel)]="item.balance">
  <input [(ngModel)]="item.registered">
  <input [(ngModel)]="item.favoriteFruit">
  <input [(ngModel)]="item.greeting">
  <input [(ngModel)]="item.about">
  <input [(ngModel)]="item.phone">
  <input [(ngModel)]="item.email">
  <input [(ngModel)]="item.company">
  <input [(ngModel)]="item.address">
  <input [(ngModel)]="item.guid">
  <input [(ngModel)]="item.index">
  <div>{{getTags(item)}}</div>
</div>