<div ng-repeat="item in items" post-repeat>
  <div>{{item.name}}</div>
  <div><img ng-src="{{item.picture}}"></div>
  <div ng-repeat="friend in item.friends"><input ng-model="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input ng-model="item.longitude">
  <input ng-model="item.latitude">
  <input ng-model="item.eyeColor">
  <input ng-model="item.gender">
  <input ng-model="item.balance">
  <input ng-model="item.registered">
  <input ng-model="item.favoriteFruit">
  <input ng-model="item.greeting">
  <input ng-model="item.about">
  <input ng-model="item.phone">
  <input ng-model="item.email">
  <input ng-model="item.company">
  <input ng-model="item.address">
  <input ng-model="item.guid">
  <input ng-model="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img ng-src="{{item.picture}}"></div>
  <div ng-repeat="friend in item.friends"><input ng-model="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input ng-model="item.longitude">
  <input ng-model="item.latitude">
  <input ng-model="item.eyeColor">
  <input ng-model="item.gender">
  <input ng-model="item.balance">
  <input ng-model="item.registered">
  <input ng-model="item.favoriteFruit">
  <input ng-model="item.greeting">
  <input ng-model="item.about">
  <input ng-model="item.phone">
  <input ng-model="item.email">
  <input ng-model="item.company">
  <input ng-model="item.address">
  <input ng-model="item.guid">
  <input ng-model="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img ng-src="{{item.picture}}"></div>
  <div ng-repeat="friend in item.friends"><input ng-model="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input ng-model="item.longitude">
  <input ng-model="item.latitude">
  <input ng-model="item.eyeColor">
  <input ng-model="item.gender">
  <input ng-model="item.balance">
  <input ng-model="item.registered">
  <input ng-model="item.favoriteFruit">
  <input ng-model="item.greeting">
  <input ng-model="item.about">
  <input ng-model="item.phone">
  <input ng-model="item.email">
  <input ng-model="item.company">
  <input ng-model="item.address">
  <input ng-model="item.guid">
  <input ng-model="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img ng-src="{{item.picture}}"></div>
  <div ng-repeat="friend in item.friends"><input ng-model="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input ng-model="item.longitude">
  <input ng-model="item.latitude">
  <input ng-model="item.eyeColor">
  <input ng-model="item.gender">
  <input ng-model="item.balance">
  <input ng-model="item.registered">
  <input ng-model="item.favoriteFruit">
  <input ng-model="item.greeting">
  <input ng-model="item.about">
  <input ng-model="item.phone">
  <input ng-model="item.email">
  <input ng-model="item.company">
  <input ng-model="item.address">
  <input ng-model="item.guid">
  <input ng-model="item.index">
  <div>{{getTags(item)}}</div>

  <div>{{item.name}}</div>
  <div><img ng-src="{{item.picture}}"></div>
  <div ng-repeat="friend in item.friends"><input ng-model="friend.name"></div>
  <input type="checkbox" value="{{item.isActive}}">
  <div>{{getInfo(item)}}</div>
  <input ng-model="item.longitude">
  <input ng-model="item.latitude">
  <input ng-model="item.eyeColor">
  <input ng-model="item.gender">
  <input ng-model="item.balance">
  <input ng-model="item.registered">
  <input ng-model="item.favoriteFruit">
  <input ng-model="item.greeting">
  <input ng-model="item.about">
  <input ng-model="item.phone">
  <input ng-model="item.email">
  <input ng-model="item.company">
  <input ng-model="item.address">
  <input ng-model="item.guid">
  <input ng-model="item.index">
  <div>{{getTags(item)}}</div>
</div>